.presentacion{
  background-color: #EAF2FD;
  padding: 40px 0;
}

.presentacion__width{
  max-width: 1200px;
  margin: auto;
}

.presentacion__parraph{
  font-size: 1rem;
  width: 65%;
  padding: 20px 0;
}

@media (max-width: 1176px) {
  .presentacion__width {
    padding: 20px;
  }
  .presentacion__parraph{
    width: 100%;
  }
}